openapi: 3.0.1
info:
  title: Export API
  description: 'This API enables you to perform the following:

    - Retrieve a list of accounting entries that have been exported to the external
    ERP/accounting system.

    - Create a new export job event.

    - Retrieve a list of existing export jobs and create a new one.

    - Retrieve details of an export job.

    - Retrieve a list of export job items and update their information.

    '
  termsOfService: https://pleo.io/terms/
  contact:
    email: apiteam@pleo.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 32.1.0
servers:
- url: https://external.pleo.io
  description: Production server
- url: https://external.staging.pleo.io
  description: Staging server
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: health
- name: export-items
- name: export-jobs
- name: admin
- name: export-job-items
- name: Export API (v2)
- name: Export Items (v2)
- name: Export API (v3)
- name: Export Items (v3)
paths:
  /v0/export-items:
    get:
      tags:
      - Export Items (v0)
      summary: Get Export Items
      description: Fetch a list of export items that have been marked for export for
        a given job. The data for these accounting entries are transformed accordingly
        for export purposes.
      operationId: getExportItems
      parameters:
      - name: job_id
        in: query
        description: The Export Job ID in which the accounting entries have been included
          for export.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportItem'
      deprecated: true
  /v0/export-job-events:
    post:
      tags:
      - Export API (v0)
      summary: Create an Export Job Event
      description: "\n            The Export Job Events imply the different status\
        \ of an Export Job through the export lifecycle.\n            Use this endpoint\
        \ to create a new status.\n            For example, started event implies\
        \ the export job is initiated.\n            The existing Export Job Events\
        \ are as follows:\n            - started: An export job is initiated. This\
        \ allows the integration\n                service to start processing the\
        \ export job items.\n            - failed: The export job has failed when\
        \ an irrecoverable error happens and this could have happened while processing\
        \ the export job items.\n            - completed: The export job items have\
        \ been successfully exported.\n            - completed_with_errors: The export\
        \ job items have been processed, although some of them could not be exported.\n\
        \            "
      operationId: createExportJobEvent
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateExportJobEvent'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8: {}
      deprecated: true
  /v0/export-jobs:
    get:
      tags:
      - Export API (v0)
      summary: Get a list of Export Jobs
      description: Fetch a list of export jobs
      operationId: getExportJobsList
      parameters:
      - name: company_id
        in: query
        description: Enter the specific company ID for which you want to retrieve
          the list of export jobs processed before.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: Fetch a list of jobs for a specific status.
        required: false
        deprecated: true
        style: form
        explode: true
        schema:
          type: string
          nullable: true
          enum:
          - pending
          - in_progress
          - failed
          - completed
          - completed_with_errors
      - name: statuses
        in: query
        description: Fetch a list of jobs for specific statuses.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - pending
            - in_progress
            - failed
            - completed
            - completed_with_errors
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportJob'
      deprecated: true
    post:
      tags:
      - Export API (v0)
      summary: Create a new export job
      operationId: createExportJob
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateExportJob'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DataResponseExportJob'
      deprecated: true
  /v0/export-jobs/{jobId}:
    get:
      tags:
      - Export API (v0)
      summary: Get an Export Job
      description: Retrieve an export job for a given export job ID
      operationId: getExportJobById
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Export Job ID to fetch
          format: uuid
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DataResponseExportJob'
      deprecated: true
  /v0/export-jobs/{jobId}/items:
    get:
      tags:
      - Export API (v0)
      summary: Get Export Job Items
      description: Fetch a list of export job items
      operationId: getExportJobItems
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Export Job ID
          format: uuid
      - name: status
        in: query
        description: Enter a specific status with which the list of export job items
          returned conforms.
        required: false
        style: form
        explode: true
        schema:
          type: string
          nullable: true
          enum:
          - pending
          - in_progress
          - failed
          - successful
          - abandoned
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportJobItem'
      deprecated: true
    put:
      tags:
      - Export API (v0)
      summary: Update Export Job Items
      description: Update the status and other attributes of the export job items
        in batches of 100. This API only supports updating up to 100 items.
      operationId: updateExportJobItems
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Export Job ID
          format: uuid
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateExportJobItem'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExportJobItemUpdate'
      deprecated: true
  /v1/export-items:
    get:
      tags:
      - Export Items (v1)
      summary: Get Export Items
      description: Fetch a list of export items that have been marked for export for
        a given job. The data for these accounting entries are transformed accordingly
        for export purposes.
      operationId: getExportItemsV1
      parameters:
      - name: job_id
        in: query
        description: The Export Job ID in which the accounting entries have been included
          for export.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportItemV1'
      deprecated: true
  /v1/export-job-events:
    post:
      tags:
      - Export API (v1)
      summary: Create an Export Job Event
      description: "\n            The Export Job Events imply the different status\
        \ of an Export Job through the export lifecycle.\n            Use this endpoint\
        \ to create a new status.\n            For example, started event implies\
        \ the export job is initiated.\n            The existing Export Job Events\
        \ are as follows:\n            - started: An export job is initiated. This\
        \ allows the integration\n                service to start processing the\
        \ export job items.\n            - failed: The export job has failed when\
        \ an irrecoverable error happens and this could have happened while processing\
        \ the export job items.\n            - completed: The export job items have\
        \ been successfully exported.\n            - completed_with_errors: The export\
        \ job items have been processed, although some of them could not be exported.\n\
        \            "
      operationId: createExportJobEventV1
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateExportJobEvent'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8: {}
      deprecated: true
  /v1/export-jobs:
    get:
      tags:
      - Export API (v1)
      summary: Get a list of Export Jobs
      description: Fetch a list of export jobs
      operationId: getExportJobsListV1
      parameters:
      - name: company_id
        in: query
        description: Enter the specific company ID for which you want to retrieve
          the list of export jobs processed before.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: Fetch a list of jobs for a specific status.
        required: false
        deprecated: true
        style: form
        explode: true
        schema:
          type: string
          nullable: true
          enum:
          - pending
          - in_progress
          - failed
          - completed
          - completed_with_errors
      - name: statuses
        in: query
        description: Fetch a list of jobs for specific statuses.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - pending
            - in_progress
            - failed
            - completed
            - completed_with_errors
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportJob'
      deprecated: true
    post:
      tags:
      - Export API (v1)
      summary: Create a new export job
      operationId: createExportJobV1
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateExportJob'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DataResponseExportJob'
      deprecated: true
  /v1/export-jobs/{jobId}:
    get:
      tags:
      - Export API (v1)
      summary: Get an Export Job
      description: Retrieve an export job for a given export job ID
      operationId: getExportJobByIdV1
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Export Job ID to fetch
          format: uuid
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DataResponseExportJob'
      deprecated: true
  /v1/export-jobs/{jobId}/items:
    get:
      tags:
      - Export API (v1)
      summary: Get Export Job Items
      description: Fetch a list of export job items
      operationId: getExportJobItemsV1
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Export Job ID
          format: uuid
      - name: status
        in: query
        description: Enter a specific status with which the list of export job items
          returned conforms.
        required: false
        style: form
        explode: true
        schema:
          type: string
          nullable: true
          enum:
          - pending
          - in_progress
          - failed
          - successful
          - abandoned
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportJobItem'
      deprecated: true
    put:
      tags:
      - Export API (v1)
      summary: Update Export Job Items
      description: Update the status and other attributes of the export job items
        in batches of 100. This API only supports updating up to 100 items.
      operationId: updateExportJobItemsV1
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Export Job ID
          format: uuid
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateExportJobItem'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExportJobItemUpdate'
      deprecated: true
  /v2/export-items:
    get:
      tags:
      - Export Items (v2)
      summary: Get Export Items
      description: 'An export item = an accounting entry that has been transformed
        into an exportable entry.

        The required accounting and bookkeeping information is aggregated from an
        accounting entry to become an export item. Use this endpoint to retrieve a
        list of export items that have been selected for export. Please note that
        you can retrieve list of export items only from `pending` and `in_progress`
        export jobs.'
      operationId: getExportItemsV2
      parameters:
      - name: job_id
        in: query
        description: The Export Job ID in which the accounting entries have been included
          for export.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        '200':
          description: Export Items retrieved successfully.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportItemV2'
        '422':
          description: Export Job has finished. Only Export Items from running jobs
            can be retrieved.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_JOB_STATUS_UNPROCESSABLE
                message: Export Job is finished and can no longer be processed.
  /v2/export-job-events:
    post:
      tags:
      - Export API (v2)
      summary: Create an Export Job Event
      description: "\n            The Export Job Events imply the current status of\
        \ the Export Job through the export lifecycle.\n            Send a request\
        \ to this endpoint to update the status of the export job. If an export job\
        \ has failed,\n            mention the failure reason and the reason type.\n\
        \            "
      operationId: createExportJobEventV2
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateExportJobEvent'
      responses:
        '202':
          description: Export Job Event created successfully.
        '422':
          description: Attempted invalid operation (trying to mark a `completed` job
            as `started`, and so on.)
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: INVALID_EXPORT_JOB_STATUS_CHANGE
                message: Export Job status change failed
  /v2/export-jobs:
    get:
      tags:
      - Export API (v2)
      summary: Get a list of Export Jobs
      description: Fetch a list of export jobs.
      operationId: getExportJobsListV2
      parameters:
      - name: company_id
        in: query
        description: Enter the specific company ID for which you want to retrieve
          the list of export jobs processed before.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: Fetch a list of jobs for a specific status.
        required: false
        deprecated: true
        style: form
        explode: true
        schema:
          type: string
          nullable: true
          enum:
          - pending
          - in_progress
          - failed
          - completed
          - completed_with_errors
      - name: statuses
        in: query
        description: Fetch a list of jobs for specific statuses.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - pending
            - in_progress
            - failed
            - completed
            - completed_with_errors
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        '200':
          description: List of export jobs. If no jobs are found, an empty list is
            returned.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportJob'
    post:
      tags:
      - Export API (v2)
      summary: Create a new export job
      description: Use this endpoint to create a new export job that would transfer
        a list of specific accounting entries from Pleo to the target ERP/accounting
        system.
      operationId: createExportJobV2
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateExportJob'
      responses:
        '201':
          description: Export job created successfully.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DataResponseExportJob'
        '409':
          description: An export job is already in progress for this specific company.
            You cannot create a new export job until the current one has finished.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_ALREADY_IN_PROGRESS
                message: Export Job already in progress for this company.
  /v2/export-jobs/{jobId}:
    get:
      tags:
      - Export API (v2)
      summary: Get an Export Job
      description: Retrieve an export job by a specific export job ID.
      operationId: getExportJobByIdV2
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Enter the specific export job ID that you are looking for.
          format: uuid
      responses:
        '200':
          description: Export job found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DataResponseExportJob'
        '404':
          description: Export job not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_NOT_FOUND
                message: Export job not found.
  /v2/export-jobs/{jobId}/items:
    get:
      tags:
      - Export API (v2)
      summary: Get Export Job Items
      description: 'An export job item tracks the export progress of a specific accounting
        entry in an export job.

        Use this endpoint to retrieve a list of export job items that you want to
        track.'
      operationId: getExportJobItemsV2
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Enter the specific export job ID to retrieve details about
            the job items included in this export job.
          format: uuid
      - name: status
        in: query
        description: Enter a specific status with which the list of export job items
          returned conforms.
        required: false
        style: form
        explode: true
        schema:
          type: string
          nullable: true
          enum:
          - pending
          - in_progress
          - failed
          - successful
          - abandoned
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        '200':
          description: Export job items found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportJobItem'
        '404':
          description: Export job not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_NOT_FOUND
                message: Export job not found.
    put:
      tags:
      - Export API (v2)
      summary: Update Export Job Items
      description: Update the status and other attributes of the export job items
        in batches of 100. This API only supports updating up to 100 items.
      operationId: updateExportJobItemsV2
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Export Job ID
          format: uuid
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateExportJobItem'
      responses:
        '200':
          description: Export job items updated successfully.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExportJobItemUpdate'
        '404':
          description: Export job not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_NOT_FOUND
                message: Export job not found.
        '413':
          description: Number of items to update is more than 100.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_JOB_ITEMS_UPDATE_LIMIT
                message: Number of items to update is more than 100.
        '422':
          description: Export job is finished.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_JOB_STATUS_UNPROCESSABLE
                message: Export job is finished.
  /v3/export-items:
    get:
      tags:
      - Export Items (v3)
      summary: Get Export Items
      description: 'An export item = an accounting entry transformed into an exportable
        entry. The accounting and bookkeeping information is collected from an accounting
        entry to form an export item.


        •  A request to this endpoint retrieves a list of export items selected for
        export.


        •  Please note that you can retrieve a list of export items only from `pending`
        and `in_progress` export jobs.'
      operationId: getExportItemsV3
      parameters:
      - name: job_id
        in: query
        description: The Export Job ID in which the accounting entries have been included
          for export.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        '200':
          description: Export Items retrieved successfully.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportItemV3'
        '400':
          description: Contra accounts are not fully configured. Please map contra
            accounts in the Accounting settings. Export items cannot be retrieved
            until all Pleo accounts have corresponding contra accounts configured
            in the ERP/accounting system.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: MISSING_CONTRA_ACCOUNTS
                message: Contra accounts are not fully configured. Please map contra
                  accounts in the Accounting settings.
        '422':
          description: Export Job has finished. Only Export Items from running jobs
            can be retrieved.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_JOB_STATUS_UNPROCESSABLE
                message: Export Job is finished and can no longer be processed.
  /v3/export-job-events:
    post:
      tags:
      - Export API (v3)
      summary: Create an Export Job Event
      description: "\n            The Export Job Events imply the current status of\
        \ the Export Job through the export lifecycle.\n            Send a request\
        \ to this endpoint to update the status of the export job. If an export job\
        \ has failed,\n            mention the failure reason and the reason type.\n\
        \            "
      operationId: createExportJobEventV3
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateExportJobEvent'
      responses:
        '202':
          description: Export Job Event created successfully.
        '422':
          description: Attempted invalid operation (trying to mark a `completed` job
            as `started`, and so on.)
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: INVALID_EXPORT_JOB_STATUS_CHANGE
                message: Export Job status change failed
  /v3/export-job-items:
    get:
      tags:
      - Export API (v3)
      summary: Retrieve an export job item for a given accounting entry ID
      operationId: getExportJobItemByAccountingEntryIdV3
      parameters:
      - name: company_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: accounting_entry_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Export Job Item retrieved successfully.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DataResponseExportJobItemV3'
        '404':
          description: Export Job Item not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_ENTRY_NOT_FOUND
                message: Export Job Item not found
      x-exclude: 'true'
  /v3/export-job-items:search:
    post:
      tags:
      - Export API (v3)
      summary: Search for export job items by accounting entry IDs
      description: This endpoint is a temporary workaround and should not be used
        by external consumers.
      operationId: searchExportJobItemsV3
      parameters:
      - name: company_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SearchExportJobItemsRequest'
      responses:
        '200':
          description: Export Job Items retrieved successfully.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportJobItemV3'
      deprecated: true
      x-exclude: 'true'
  /v3/export-jobs:
    get:
      tags:
      - Export API (v3)
      summary: Get a list of Export Jobs
      description: Fetch a list of export jobs.
      operationId: getExportJobsListV3
      parameters:
      - name: company_id
        in: query
        description: Enter the company ID for which you want to retrieve the list
          of export jobs processed previously.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: statuses
        in: query
        description: Fetch a list of jobs in specific states.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExportJobStatus'
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        '200':
          description: List of export jobs. If no jobs are found, an empty list is
            returned.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportJobV3'
    post:
      tags:
      - Export API (v3)
      summary: Create a new export job
      description: Use this endpoint to create a new export job that would transfer
        a list of specific accounting entries from Pleo to the target ERP/accounting
        system.
      operationId: createExportJobV3
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateExportJob'
      responses:
        '201':
          description: Export job created successfully.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DataResponseExportJobV3'
        '400':
          description: Contra accounts are not fully configured. Please map contra
            accounts in the Accounting settings. A new export job cannot be created
            until all Pleo accounts have corresponding contra accounts configured
            in the ERP/accounting system
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: MISSING_CONTRA_ACCOUNTS
                message: Contra accounts are not fully configured. Please map contra
                  accounts in the Accounting settings.
        '409':
          description: An export job is already in progress for this specific company.
            You cannot create a new export job until the current one has finished.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_ALREADY_IN_PROGRESS
                message: Export Job already in progress for this company.
  /v3/export-jobs/{jobId}:
    get:
      tags:
      - Export API (v3)
      summary: Get an Export Job
      description: Retrieve an export job by a specific export job ID.
      operationId: getExportJobByIdV3
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Enter the specific export job ID that you are looking for.
          format: uuid
      responses:
        '200':
          description: Export job found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DataResponseExportJobV3'
        '404':
          description: Export job not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_NOT_FOUND
                message: Export job not found.
  /v3/export-jobs/{jobId}/items:
    get:
      tags:
      - Export API (v3)
      summary: Get Export Job Items
      description: An export job item tracks the export progress of a specific accounting
        entry in an export job. Use this endpoint to retrieve a list of export job
        items that you want to track.
      operationId: getExportJobItemsV3
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Enter the specific export job ID to retrieve details about
            the job items included in this export job.
          format: uuid
      - name: status
        in: query
        description: Enter a status to retrieve a list of export job items in the
          specified state.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportJobItemStatus'
      - name: before
        in: query
        description: Lower bound of the page of data to return (cannot be used together
          with [after] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: after
        in: query
        description: Upper bound of the page of data to return (cannot be used together
          with [before] or [offset]).
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[A-Z2-7=~]+$
          type: string
      - name: offset
        in: query
        description: Offset of the page of data to return (cannot be used together
          with [before] or [after]).
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum amount of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: sorting_keys
        in: query
        description: The keys to sort the results by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sorting_order
        in: query
        description: The order to sort the results by. Must be the same length as
          [sortingKeys]; one order per key.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
      responses:
        '200':
          description: Export job items found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponseExportJobItemV3'
        '404':
          description: Export job not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_NOT_FOUND
                message: Export job not found.
    put:
      tags:
      - Export API (v3)
      summary: Update Export Job Items
      description: Update the status and other attributes of the export job items
        in batches of 100. This API only supports updating up to 100 items.
      operationId: updateExportJobItemsV3
      parameters:
      - name: jobId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: Export Job ID
          format: uuid
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateExportJobItemV3'
      responses:
        '200':
          description: Export job items updated successfully.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExportJobItemUpdateV3'
        '404':
          description: Export job not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_NOT_FOUND
                message: Export job not found.
        '413':
          description: Number of items to update is more than 100.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_JOB_ITEMS_UPDATE_LIMIT
                message: Number of items to update is more than 100.
        '422':
          description: Export job is finished.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExceptionInfo'
              example:
                type: EXPORT_JOB_STATUS_UNPROCESSABLE
                message: Export job is finished.
components:
  schemas:
    Account:
      type: object
      properties:
        code:
          type: string
          description: The account code or number.
          nullable: true
        identifier:
          type: string
          description: The internal account identifier in the accounting system.
          nullable: true
      description: This is the GL account this accounting entry line is allocated
        to. The account code or the account identifier be present if an account has
        been allocated, or both.
      nullable: true
    AccountV1:
      required:
      - id
      - name
      type: object
      properties:
        code:
          type: string
          description: The account code or number.
          nullable: true
        id:
          type: string
          description: This is the Pleo internal identifier of the account.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        identifier:
          type: string
          description: The internal account identifier in the accounting system.
          nullable: true
        name:
          type: string
          description: This is the name of the account as set on the Pleo UI.
          example: Meals and Entertainment
      description: This is the GL account this accounting entry line is allocated
        to. The account code or the account identifier be present if an account has
        been allocated, or both.
      nullable: true
    AccountV2:
      required:
      - id
      - name
      type: object
      properties:
        code:
          type: string
          description: The account code or number.
          nullable: true
        id:
          type: string
          description: This is the Pleo internal identifier of the account.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        identifier:
          type: string
          description: The internal account identifier in the accounting system.
          nullable: true
        name:
          type: string
          description: This is the name of the account as set on the Pleo UI.
          example: Meals and Entertainment
      description: This is the specific General Ledger (GL) account allocated to the
        export item - the account code, the identifier, or both are mentioned, if
        any GL account is allocated.
      nullable: true
    AccountV3:
      required:
      - id
      - name
      type: object
      properties:
        code:
          type: string
          description: Account code or number.
          nullable: true
        id:
          type: string
          description: Account identifier assigned by Pleo.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        identifier:
          type: string
          description: Account identifier assigned by the ERP/accounting system.
          nullable: true
        name:
          type: string
          description: Name of the account as set on the Pleo UI.
          example: Meals and Entertainment
      description: Specific General Ledger (GL) account allocated to the export item
        - the account code, the identifier, or both are mentioned, if any GL account
        is allocated.
      nullable: true
    BookkeepingMethodV2:
      type: string
      description: Specifies the type of bookkeeping system used for recording the
        accounting entry.
      enum:
      - none
      - journal
      - accounts_payable
    BookkeepingMethodV3:
      type: string
      description: '

        | Value  | Description |

        | ------ | ----------- |

        | none | No specific bookkeeping method is mentioned. |

        | journal | The accounting entries must be bookkept as one journal entry.
        |

        | accounts_payable | The accounting entry must be bookkept as an accounts
        payable entry. If this option is selected, the Vendor parameter must be present.
        |'
      enum:
      - none
      - journal
      - accounts_payable
    BookkeepingV2:
      required:
      - method
      type: object
      properties:
        method:
          $ref: '#/components/schemas/BookkeepingMethodV2'
      description: Bookkeeping related configurations for an accounting entry.
      nullable: true
    BookkeepingV3:
      required:
      - method
      type: object
      properties:
        method:
          type: string
          description: This can be one of BookkeepingMethodV3 values
          example: none
      description: Bookkeeping related configurations for an accounting entry.
      nullable: true
    ContraAccount:
      required:
      - id
      - name
      type: object
      properties:
        code:
          type: string
          description: Contra account code or number.
          nullable: true
        id:
          type: string
          description: Contra account identifier assigned by Pleo.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        identifier:
          type: string
          description: Contra account identifier assigned by the ERP/accounting system.
          nullable: true
        name:
          type: string
          description: Contra account name as specified in the Pleo app.
          example: Pleo GBP Account
      description: Account in the ERP/accounting system corresponding to each account
        of the customer in Pleo.
      nullable: true
    CountryCode:
      type: string
      description: Country of registration of the vendor (ISO 3166-1 alpha-2 country
        code (2 letters))
      example: DK
      enum:
      - UNDEFINED
      - AC
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AN
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BU
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CP
      - CR
      - CS
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DG
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EA
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - EU
      - EZ
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - FX
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - IC
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NT
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SF
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SU
      - SV
      - SX
      - SY
      - SZ
      - TA
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TP
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UK
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - XI
      - XU
      - XK
      - YE
      - YT
      - YU
      - ZA
      - ZM
      - ZR
      - ZW
    CreateExportJob:
      required:
      - accountingEntryIds
      - companyId
      type: object
      properties:
        accountingEntryIds:
          type: array
          description: The IDs of accounting entries that you want to include in the
            export job for transmission.
          items:
            type: string
            description: The IDs of accounting entries that you want to include in
              the export job for transmission.
            format: uuid
        companyId:
          type: string
          description: The unique company ID for which you want to create the export
            job.
          format: uuid
        employeeId:
          type: string
          description: This is the Pleo unique identifier of the user that initiated
            the export job.
          format: uuid
          nullable: true
        isInteractive:
          type: boolean
          description: Non-interactive jobs are jobs that are not initiated by a user.
            These jobs are usually triggered in the background and require no user
            interaction. Interactive jobs are the opposite. Set this flag to true
            if the export job is to be initiated by a user. By default, this is set
            to true.
          nullable: true
          default: true
        options:
          $ref: '#/components/schemas/Options'
    CreateExportJobEvent:
      required:
      - event
      - jobId
      type: object
      properties:
        event:
          $ref: '#/components/schemas/ExportJobEventType'
        failureReason:
          type: string
          description: Reason why the job failed in the case of a failure. Include
            this only when the export job event has a `failed` status.
        failureReasonType:
          $ref: '#/components/schemas/ExportJobFailureReasonType'
        jobId:
          type: string
          description: Identifier of the job the event is to be processed for.
          format: uuid
    CursorPageCurrentRequestInfo:
      required:
      - parameters
      type: object
      properties:
        after:
          type: string
        before:
          type: string
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        parameters:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        sortingKeys:
          type: array
          items:
            type: string
        sortingOrder:
          type: array
          items:
            $ref: '#/components/schemas/PageOrder'
    CursorPageInfo:
      required:
      - currentRequestPagination
      - hasNextPage
      - hasPreviousPage
      type: object
      properties:
        currentRequestPagination:
          $ref: '#/components/schemas/CursorPageCurrentRequestInfo'
        endCursor:
          type: string
        hasNextPage:
          type: boolean
        hasPreviousPage:
          type: boolean
        startCursor:
          type: string
        total:
          type: integer
          format: int64
    CursorPaginatedResponseExportItem:
      required:
      - data
      - pagination
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportItem'
        pagination:
          $ref: '#/components/schemas/CursorPageInfo'
    CursorPaginatedResponseExportItemV1:
      required:
      - data
      - pagination
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportItemV1'
        pagination:
          $ref: '#/components/schemas/CursorPageInfo'
    CursorPaginatedResponseExportItemV2:
      required:
      - data
      - pagination
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportItemV2'
        pagination:
          $ref: '#/components/schemas/CursorPageInfo'
    CursorPaginatedResponseExportItemV3:
      required:
      - data
      - pagination
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportItemV3'
        pagination:
          $ref: '#/components/schemas/CursorPageInfo'
    CursorPaginatedResponseExportJob:
      required:
      - data
      - pagination
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportJob'
        pagination:
          $ref: '#/components/schemas/CursorPageInfo'
    CursorPaginatedResponseExportJobItem:
      required:
      - data
      - pagination
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportJobItem'
        pagination:
          $ref: '#/components/schemas/CursorPageInfo'
    CursorPaginatedResponseExportJobItemV3:
      required:
      - data
      - pagination
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportJobItemV3'
        pagination:
          $ref: '#/components/schemas/CursorPageInfo'
    CursorPaginatedResponseExportJobV3:
      required:
      - data
      - pagination
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportJobV3'
        pagination:
          $ref: '#/components/schemas/CursorPageInfo'
    DataResponseExportJob:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExportJob'
    DataResponseExportJobItemV3:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExportJobItemV3'
    DataResponseExportJobV3:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExportJobV3'
    ExceptionInfo:
      required:
      - type
      type: object
      properties:
        message:
          type: string
        type:
          type: string
    ExportItem:
      required:
      - _links
      - accountingEntryId
      - accountingEntryLines
      - amount
      - companyId
      - date
      - metadata
      - type
      - user
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/LinksResponse'
        accountingEntryId:
          type: string
          description: This is the Pleo internal identifier of the export item.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        accountingEntryLines:
          type: array
          description: Accounting entry broken down in entry lines. There will always
            be an accounting entry line. If the accounting entry has been split into
            separate lines, then each line would represent the details of that accounting
            entry line, else there would only be one line present, representing the
            whole entry.
          items:
            $ref: '#/components/schemas/ExportItemLine'
        amount:
          $ref: '#/components/schemas/ExportItemAmount'
        companyId:
          type: string
          description: Pleo company identifier this export item belongs to.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        date:
          pattern: YYYY-MM-DDTHH:mi:ssZ
          type: string
          description: The date when the accounting entry was recorded.
          format: date-time
        files:
          type: array
          description: Files that have been attached to this accounting entry.
          nullable: true
          items:
            $ref: '#/components/schemas/ExportItemFile'
        metadata:
          $ref: '#/components/schemas/ExportItemMetadata'
        note:
          type: string
          description: Additional comments potentially describing the accounting entry.
          nullable: true
        supplier:
          $ref: '#/components/schemas/Supplier'
        teamCode:
          type: string
          description: Team code is an identifier assigned to an expense to categorize
            it or associate it with a specific team.
          nullable: true
        type:
          type: string
          description: This is the Pleo internal identifier of the accounting entry
            this export item is associated with.
          enum:
          - card_purchase
          - card_invoice
          - out_of_pocket
          - mileage
          - per_diem
          - external_reimbursement
          - direct_reimbursement
          - invoice
          - invoice_payment
          - chargeback
          - refund
          - cashback
          - atm_withdrawal
          - wallet_topup
          - wallet_unload
        user:
          $ref: '#/components/schemas/ExportItemUser'
    ExportItemAdditionalInformationV1:
      required:
      - reconciliationId
      type: object
      properties:
        attendees:
          type: array
          description: Used to represent attendance involvement or participants at
            the time of the spend. E.g. if an employee took clients to dinner, this
            would be used to capture who was present at the dinner.
          nullable: true
          items:
            type: string
            description: Used to represent attendance involvement or participants
              at the time of the spend. E.g. if an employee took clients to dinner,
              this would be used to capture who was present at the dinner.
            nullable: true
        invoiceInformation:
          $ref: '#/components/schemas/InvoiceInformationV1'
        reconciledEntries:
          uniqueItems: true
          type: array
          description: A list of reconciliation IDs for reimbursement expenses that
            are settled by this reimbursement. Only included for reimbursement transactions.
          nullable: true
          items:
            type: string
            description: A list of reconciliation IDs for reimbursement expenses that
              are settled by this reimbursement. Only included for reimbursement transactions.
            nullable: true
        reconciliationId:
          type: string
          description: This is an identifier used to reconcile between Pleo and the
            accounting system. Also known in Pleo as the book ID.
      description: Additional information applicable to this accounting entry.
    ExportItemAdditionalInformationV2:
      required:
      - reconciliationId
      type: object
      properties:
        attendees:
          type: array
          description: Indicates attendance of participants at the time of the spend.
            For example, if an employee took clients to dinner, this attribute indicates
            who were present at the dinner.
          nullable: true
          items:
            type: string
            description: Indicates attendance of participants at the time of the spend.
              For example, if an employee took clients to dinner, this attribute indicates
              who were present at the dinner.
            nullable: true
        invoiceInformation:
          $ref: '#/components/schemas/InvoiceInformationV2'
        reconciledEntries:
          uniqueItems: true
          type: array
          description: A list of reconciliation IDs for reimbursement expenses that
            are settled by this reimbursement. Only included for reimbursement transactions.
          nullable: true
          items:
            type: string
            description: A list of reconciliation IDs for reimbursement expenses that
              are settled by this reimbursement. Only included for reimbursement transactions.
            nullable: true
        reconciliationId:
          type: string
          description: This is an identifier used to reconcile between Pleo and the
            accounting system. Also known in Pleo as the book ID.
      description: Additional information applicable to this accounting entry.
    ExportItemAdditionalInformationV3:
      required:
      - reconciliationId
      type: object
      properties:
        attendees:
          type: array
          description: Indicates attendance of participants at the time of the spend.
            For example, if an employee took clients to dinner, this attribute indicates
            who were present at the dinner.
          nullable: true
          items:
            type: string
            description: Indicates attendance of participants at the time of the spend.
              For example, if an employee took clients to dinner, this attribute indicates
              who were present at the dinner.
            nullable: true
        invoiceInformation:
          $ref: '#/components/schemas/InvoiceInformationV3'
        reconciledEntries:
          uniqueItems: true
          type: array
          description: A list of reconciliation IDs for reimbursement expenses that
            are settled by this reimbursement. Only included for reimbursement transactions.
          nullable: true
          items:
            type: string
            description: A list of reconciliation IDs for reimbursement expenses that
              are settled by this reimbursement. Only included for reimbursement transactions.
            nullable: true
        reconciliationId:
          type: string
          description: Identifier used to reconcile between Pleo and the accounting
            system. Also known in Pleo as the book ID.
      description: Additional information applicable to this accounting entry.
    ExportItemAmount:
      required:
      - inSupplierCurrency
      - inWalletCurrency
      type: object
      properties:
        inSupplierCurrency:
          $ref: '#/components/schemas/MoneyModel'
        inWalletCurrency:
          $ref: '#/components/schemas/MoneyModel'
      description: Export item amount.
    ExportItemAmountV3:
      required:
      - inSupplierCurrency
      - inWalletCurrency
      type: object
      properties:
        inSupplierCurrency:
          $ref: '#/components/schemas/MoneyModel'
        inWalletCurrency:
          $ref: '#/components/schemas/MoneyModel'
      description: Export item amount.
    ExportItemFile:
      required:
      - size
      - type
      - url
      type: object
      properties:
        size:
          type: integer
          description: Size of the file in bytes.
          format: int32
          example: 2084
        type:
          type: string
          description: Type of file, usually represented similar to mime type.
          example: application/pdf
        url:
          type: string
          description: URL to retrieve the file attachment from. This URL is active
            for a limited time (24 Hours) from the time the export item is fetched.
          example: https://file.url
      description: Files that have been attached to this accounting entry.
      nullable: true
    ExportItemLine:
      required:
      - accountingEntryLineId
      - lineAmount
      - netAmount
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Account'
        accountingEntryLineId:
          type: string
          description: This is the Pleo internal identifier of this accounting entry
            line.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        lineAmount:
          $ref: '#/components/schemas/ExportItemAmount'
        netAmount:
          $ref: '#/components/schemas/ExportItemAmount'
        tags:
          type: array
          description: Tags are used to appropriate funds to specific projects, cost
            centers, departments, etc. This is what is known as "tags" in Pleo.
          nullable: true
          items:
            $ref: '#/components/schemas/Tag'
        tax:
          $ref: '#/components/schemas/Tax'
      description: Accounting entry broken down in entry lines. There will always
        be an accounting entry line. If the accounting entry has been split into separate
        lines, then each line would represent the details of that accounting entry
        line, else there would only be one line present, representing the whole entry.
    ExportItemLineAmountV3:
      required:
      - inSupplierCurrency
      - inWalletCurrency
      type: object
      properties:
        inSupplierCurrency:
          $ref: '#/components/schemas/MoneyModel'
        inWalletCurrency:
          $ref: '#/components/schemas/MoneyModel'
      description: Amount of the specific accounting entry line.
    ExportItemLineV1:
      required:
      - accountingEntryLineId
      - lineAmount
      - netAmount
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountV1'
        accountingEntryLineId:
          type: string
          description: This is the Pleo internal identifier of this accounting entry
            line.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        lineAmount:
          $ref: '#/components/schemas/ExportItemAmount'
        netAmount:
          $ref: '#/components/schemas/ExportItemAmount'
        tags:
          type: array
          description: Tags are used to appropriate funds to specific projects, cost
            centers, departments, etc. This is what is known as "tags" in Pleo.
          nullable: true
          items:
            $ref: '#/components/schemas/TagV1'
        tax:
          $ref: '#/components/schemas/TaxV1'
      description: Accounting entry broken down in entry lines. There will always
        be an accounting entry line. If the accounting entry has been split into separate
        lines, then each line would represent the details of that accounting entry
        line, else there would only be one line present, representing the whole entry.
    ExportItemLineV2:
      required:
      - accountingEntryLineId
      - lineAmount
      - netAmount
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountV2'
        accountingEntryLineId:
          type: string
          description: This is the ID of the specific line.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        lineAmount:
          $ref: '#/components/schemas/ExportItemAmount'
        netAmount:
          $ref: '#/components/schemas/ExportItemAmount'
        tags:
          type: array
          description: Tags are cost centres allocated to an export item.
          nullable: true
          items:
            $ref: '#/components/schemas/TagV2'
        tax:
          $ref: '#/components/schemas/TaxV2'
      description: An accounting entry is represented with either a single line or
        multiple lines that explain the details. So, if the accounting entry is split
        into multiple lines, each line has a unique ID.
    ExportItemLineV3:
      required:
      - accountingEntryLineId
      - lineAmount
      - netAmount
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountV3'
        accountingEntryLineId:
          type: string
          description: ID of the specific line.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        lineAmount:
          $ref: '#/components/schemas/ExportItemLineAmountV3'
        netAmount:
          $ref: '#/components/schemas/ExportItemNetAmountV3'
        tags:
          type: array
          description: Tags are cost centres allocated to an export item.
          nullable: true
          items:
            $ref: '#/components/schemas/TagV3'
        tax:
          $ref: '#/components/schemas/TaxV3'
      description: An accounting entry is represented with either a single line or
        multiple lines that explain the details. So, if the accounting entry is split
        into multiple lines, each line has a unique ID.
    ExportItemMetadata:
      required:
      - reconciliationId
      type: object
      properties:
        attendees:
          type: array
          description: Used to represent attendance involvement or participants at
            the time of the spend. E.g. if an employee took clients to dinner, this
            would be used to capture who was present at the dinner.
          nullable: true
          items:
            type: string
            description: Used to represent attendance involvement or participants
              at the time of the spend. E.g. if an employee took clients to dinner,
              this would be used to capture who was present at the dinner.
            nullable: true
        invoiceInformation:
          $ref: '#/components/schemas/InvoiceInformation'
        reconciliationId:
          type: string
          description: This is an identifier used to reconcile between Pleo and the
            accounting system. Also known in Pleo as the book ID.
      description: Additional metadata applicable to this accounting entry.
    ExportItemNetAmountV3:
      required:
      - inSupplierCurrency
      - inWalletCurrency
      type: object
      properties:
        inSupplierCurrency:
          $ref: '#/components/schemas/MoneyModel'
        inWalletCurrency:
          $ref: '#/components/schemas/MoneyModel'
      description: Amount either including or excluding tax. This depends on the tax
        code, represented in the tax type attribute.
    ExportItemSubTypeV3:
      type: string
      description: '

        | Value  | Description |

        | ------ | ----------- |

        | reimbursement_to_employee_refund | Return of a reimbursement to an employee
        that bounced and/or failed, reversing the original reimbursement transaction.
        |

        | reimbursement_to_company | Reimbursement paid to the company, typically
        when an employee returns funds or makes an accidental purchase with a Pleo
        card. |

        | reimbursement_to_employee | Reimbursement paid to an employee for expenses
        made out of pocket, either through direct transfer or external payment method.
        |

        | invoice_payment_returned | Invoice payment that was returned or reversed,
        typically due to payment failure or cancellation after the payment was initially
        processed. |

        | invoice_payment_sent | Invoice payment that was successfully sent, confirming
        the payment for an invoice. |

        | interest | Interest charged as a fee, typically for overdraft usage. |'
      enum:
      - reimbursement_to_employee_refund
      - reimbursement_to_company
      - reimbursement_to_employee
      - invoice_payment_returned
      - invoice_payment_sent
      - interest
    ExportItemTypeV3:
      type: string
      description: '

        | Value  | Description |

        | ------ | ----------- |

        | card_purchase | An expense made using Pleo cards. |

        | card_invoice | An invoice paid using a card containing details of an invoice
        number, amounts, supplier information, and taxes. |

        | out_of_pocket | An expense made by an employee using their personal funds,
        for which they need to be reimbursed. |

        | mileage | An allowance which a company can pay out to employees for driving
        their own car on business trips. |

        | per_diem | A daily travel allowance for business travel. |

        | external_reimbursement | Refund, through cash or payroll, to an employee
        for an expense made using their personal funds. This is handled outside of
        Pleo and does not affect the Pleo Wallet balance. |

        | direct_reimbursement | Refund, by directly transferring funds from the Pleo
        Wallet, to an employee’s personal card or bank account for an expense made
        using their personal funds. |

        | invoice | Invoice document with details of invoice number, amounts, supplier
        information, and taxes. |

        | invoice_payment | Information about the payment made for an invoice. |

        | chargeback | Return of funds for a previous card expense, usually as a result
        of a dispute. |

        | refund | Refund on a spend from the supplier. |

        | cashback | Cashback offered by Pleo, a way to reward customers for spending
        on Pleo. |

        | atm_withdrawal | Cash withdrawn from an ATM. |

        | wallet_topup | Transferring funds to the Pleo wallet from your company''s
        bank account. |

        | wallet_unload | Withdrawing funds from the Pleo wallet to your company''s
        bank account. |

        | personal_spend | An expense made by an employee using their card for personal
        reasons. |

        | fee | Any fees charged to the customer, including forex fees, overdraft
        fees, and interest. |'
      enum:
      - card_purchase
      - card_invoice
      - out_of_pocket
      - mileage
      - per_diem
      - external_reimbursement
      - direct_reimbursement
      - invoice
      - invoice_payment
      - chargeback
      - refund
      - cashback
      - atm_withdrawal
      - wallet_topup
      - wallet_unload
      - personal_spend
      - fee
    ExportItemUser:
      required:
      - name
      type: object
      properties:
        code:
          type: string
          description: This would usually represent the employee code.
          nullable: true
        name:
          type: string
          description: Full name of the user.
          example: John Doe
      description: This applies to the person that initiated the spend. This would
        in most cases be the employee.
    ExportItemUserV1:
      required:
      - id
      - name
      type: object
      properties:
        code:
          type: string
          description: This would usually represent the employee code.
          nullable: true
        id:
          type: string
          description: This is the Pleo internal identifier of the user.
          format: uuid
          nullable: true
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          description: Full name of the user.
          example: John Doe
      description: This applies to the person that initiated the spend. This would
        in most cases be the employee.
    ExportItemUserV2:
      required:
      - id
      - name
      type: object
      properties:
        code:
          type: string
          description: This would usually represent the employee code.
          nullable: true
        id:
          type: string
          description: This is the Pleo internal identifier of the user.
          format: uuid
          nullable: true
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          description: Full name of the user.
          example: John Doe
      description: This applies to the person that initiated the spend. In most cases
        this would be the employee.
      nullable: true
    ExportItemUserV3:
      required:
      - id
      - name
      type: object
      properties:
        code:
          type: string
          description: This would usually represent the employee code.
          nullable: true
        id:
          type: string
          description: Pleo internal identifier of the user.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          description: Full name of the user.
          example: John Doe
      description: This applies to the person that initiated the spend. In most cases
        this would be the employee.
      nullable: true
    ExportItemV1:
      required:
      - _links
      - accountingEntryId
      - accountingEntryLines
      - additionalInformation
      - amount
      - companyId
      - date
      - type
      - user
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/LinksResponse'
        accountingEntryId:
          type: string
          description: This is the Pleo internal identifier of the export item.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        accountingEntryLines:
          type: array
          description: Accounting entry broken down in entry lines. There will always
            be an accounting entry line. If the accounting entry has been split into
            separate lines, then each line would represent the details of that accounting
            entry line, else there would only be one line present, representing the
            whole entry.
          items:
            $ref: '#/components/schemas/ExportItemLineV1'
        additionalInformation:
          $ref: '#/components/schemas/ExportItemAdditionalInformationV1'
        amount:
          $ref: '#/components/schemas/ExportItemAmount'
        companyId:
          type: string
          description: Pleo company identifier this export item belongs to.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        date:
          pattern: YYYY-MM-DDTHH:mi:ssZ
          type: string
          description: Date the accounting entry should be bookkept.
          format: date-time
        files:
          type: array
          description: Files that have been attached to this accounting entry.
          nullable: true
          items:
            $ref: '#/components/schemas/ExportItemFile'
        note:
          type: string
          description: Additional comments potentially describing the accounting entry.
          nullable: true
        supplier:
          $ref: '#/components/schemas/SupplierV1'
        team:
[...]
